@{
    ViewData["Title"] = "Battleship";
}

<div class="page text-white" id="page">
    <div class="lobbyBox">
        <div class="lobby" id="lobbyscreen">
            <h1>Lobby</h1>
            <p>RoomCode</p>
            <input id="roomCode" />
            <p>playerName</p>
            <input id="playerName" />
            <button id="createButton">  Create game  </button>
            <button id="joinButton">  Join game  </button>
        </div>
    </div>
    <div style="display:flex; flex-direction:column; justify-content:center;">
        <p id="gameRoomCode" class="greatFell gameRoomCode"> testiD </p>
        <div class="playfield greatFell" style="font-size:36px;" id="playfield">
            <div class="battlefield" id="defence" style="pointer-events:none;">
                <p id="player1name" style="text-align:center; margin-bottom:0; background:#16202c;"> player1 </p>
                <player1-board></player1-board>
            </div>
            <div id="gamedata" style="display:flex; align-items:center; flex-direction:column; justify-content:center;">
                @*<p id="gameRoomCode"> testiD </p>*@
                <p id="currentTurnName" style="text-overflow: ellipsis; overflow:hidden; max-width:300px;"></p>
            </div>
            <div class="battlefield" id="attack">
                <p id="player2name" style="text-align:center; margin-bottom:0; background:#16202c; "> player2 </p>
                <player2-board></player2-board>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/BattleShip.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/Lobby.css" asp-append-version="true" />

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/Battleship/Battleship.js"></script>
<script defer type="module" src="/js/Components/Board.js"></script>

<script>
    document.getElementById("remove-container").classList.remove("container")
</script>