@{
    ViewData["Title"] = "Battleship";
}

<div class="page">
    <div class="playfield">
        <div class="battlefield" id="defence">
            <table>
                @for (int i = 0; i < 10; i++)
                {
                    <tr>
                        @for (int j = 0; j < 10; j++)
                        {
                            <td><div id="@i-@j"></div></td>
                        }
                    </tr>
                }
            </table>
        </div>

        <div class="battlefield" id="attack">
               <boat-board> TEST </boat-board>
        </div>
    </div>
</div>

<link rel="stylesheet" href="~/css/BattleShip.css" asp-append-version="true" />
<script defer type="module" src="/js/Components/Board.js"></script>
<script>
    document.getElementById("remove-container").classList.remove("container")
</script>