@{
    ViewData["Title"] = "Battleship lobby";
}

<div class="page">
    <section class="lobby">

        <h1>Lobby</h1>

        <button>  Create game  </button>

        <input/>
        <button>  Join game  </button>


    </section>
</div>

<link rel="stylesheet" href="~/css/Lobby.css" asp-append-version="true" />
<script>
    document.getElementById("remove-container").classList.remove("container")
</script>