@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class ="contact">

        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

            <p>Deze view is @(Context.Request.Cookies["PageViews"]) keer bekeken</p>

        </div>

    </section>
</div>