@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <section class ="contact">

        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            
            <p>Deze view is @(Context.Request.Cookies["PageViews"]) keer bekeken</p>

        </div>

    </section>
</div>

<script>
    document.getElementById("remove-container").classList.remove("container")
</script>