@{
    ViewData["Title"] = "Portfolio";
}

<div class="page">
    <section class="personalia">

        <img class="person-logo" src="~/images/person-pasfoto.jpg">
        <h1 class="person-name">Mike Driel</h1>

        <div class="row">
            <div class='column'>
                <div class='left-column'>
                    <div>Naam:</div>
                    <div>Adres </div>
                    <div>Postcode en woonplaats:</div>
                    <div>Geboortedatum:</div>
                    <div>Geboorteplaats:</div>
                    <div>E-mail:</div>
                    <div>Telefoonnummer:</div>
                    <div>Burgerlijkestaat:</div>
                    <div>Rijbewijs:</div>
                    <div>Nationaliteit:</div>
                </div>
            </div>
            <div class='column'>
                <div class='right-column'>
                    <div>Mike Driel</div>
                    <div>Bloemendalsweg 6</div>
                    <div>7429 AL Colmschate</div>
                    <div>06-08-2002 (20)</div>
                    <div>Deventer</div>
                    <div>mike.drielprive@gmail.com</div>
                    <div>+31 6 29766849</div>
                    <div>Ongehuwd</div>
                    <div>Ja</div>
                    <div>Nederlandse</div>
                </div>
            </div>
        </div>

    </section>



    <section class="profile">

        <!-- code for INFO OVER ZELF -->

        <section class="profile-content">

            <div class="profile-content__category--hidden-mobile">
                <h3 class="profile-content__category-title">Profiel</h3>
                <hr>
            </div>

            <div class="profile-content__element--hidden-mobile">
                <div class="profile-content__element-header">
                </div>
                <p class="profile-content__description">
                    Ik ben Mike Driel en dit is mijn CV
                <p>
            </div>


            <!-- code for OPLEIDINGEN -->

            <div class="profile-content__category">
                <h3 class="profile-content__category-title">Opleidingen</h3>
                <hr>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HBO-ICT</h4>
                    <p class="profile-content__period">2021-heden</p>
                </div>
                <p class="profile-content__institute">Universiteit Windesheim, Zwolle</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">MBO ICT-Beheer</h4>
                    <p class="profile-content__period">2018-2021</p>
                </div>
                <p class="profile-content__institute">ROC Aventus, Apeldoorn (gehaald)</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">VMBO-tl (Economie en Techniek)</h4>
                    <p class="profile-content__period">2017-2018</p>
                </div>
                <p class="profile-content__institute">De Marke-Noord, Deventer (gehaald)</p>
            </div>

            <div class="profile-content__element">
                <div class="profile-content__element-header">
                    <h4 class="profile-content__title">HAVO/VWO</h4>
                    <p class="profile-content__period">2014-2017</p>
                </div>
                <p class="profile-content__institute">Het Stormink, Deventer (niet gehaald)</p>
            </div>


            <!-- code for ICT KENNIS -->

            <section class="ICT-Kennis">

                <div class="profile-content__category">
                    <h3 class="profile-content__category-title">ICT-Kennis</h3>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <p class="profile-content__period">2021-heden</p>
                    </div>
                    <p class="profile-content__institute">Programmeren in PHP, Java, Python en C#</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <p class="profile-content__period">2019-heden</p>
                    </div>
                    <p class="profile-content__institute">Server virtualisatie met VMware vSphere en Hyper-V</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <p class="profile-content__period">2018-heden</p>
                    </div>
                    <p class="profile-content__institute">Kennis van routing en switching op een bedrijfsnetwerk</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <p class="profile-content__period">2018-heden</p>
                    </div>
                    <p class="profile-content__institute">Gebruik van netwerk monitoring en ticket managementsystemen</p>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <p class="profile-content__period">2018-heden</p>
                    </div>
                    <p class="profile-content__institute">Ervaring en kennis van werkplekbeheer</p>
                </div>

            </section>

            <!-- code for Werkervaring -->

            <section class="Werkervaring">

                <div class="profile-content__category">
                    <h3 class="profile-content__category-title">Werkervaring</h3>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Postbode</h4>
                        <p class="profile-content__period">jan 2020 - feb 2021</p>
                    </div>
                    <p class="profile-content__institute">PostNL</p>
                </div>

            </section>

            <!-- code for Extra Vaardigheden -->

            <section class="Extra vaardigheden">

                <div class="profile-content__category">
                    <h3 class="profile-content__category-title">Extra vaardigheden</h3>
                    <hr>
                </div>

                <div class="profile-content__element">
                    <div class="profile-content__element-header">
                        <h4 class="profile-content__title">Talenkennis</h4>
                        <p class="profile-content__level">Vloeiend</p>
                        <p class=""></p>
                    </div>
                </div>

            </section>
        </section>
    </section>


</div>

<!-- code for GDPR BOX -->
<div class="containerGDPR">

    <section class="gdpr-consent hide">

        <div class="gdpr-consent__description">
            <p>
                Deze website gebruikt cookies.
                We gebruiken cookies om content te personaliseren, voor social media en het analyseren
                van verkeer op de website, advertenties.
            </p>
        </div>

        <div class="gdpr-consent__choice">
            <button class="gdpr-consent__button--accept">Ja, natuurlijk</button>
            <button class="gdpr-consent__button--reject">Neu, misschien later</button>
        </div>

    </section>
</div>