<script src="~/js/validate.js" asp-append-version="true"></script>

<script src="https://www.google.com/recaptcha/api.js"></script>

<div class="page">
    <section class="contact">

        <h1>Contact</h1>

        <form action="Emailsent" method="post" class="form-contactpagina">

            <div class="form-contactpagina__inputelement fx-col">
                <label for="name">Naam: </label>
                <input type="text" name="Name" id="Name" required>
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="email">Email: </label>
                <input type="email" name="EmailAddress" id="EmailAddress">
            </div>

            <div class="form-contactpagina__inputelement fx-col">
                <label for="EmailBody">bericht: </label>
                <input type="text" name="EmailBody" id="EmailBody">
            </div>

            <div class="form-contactpagina__inputelement shrink">
                <input type="submit" value="Verstuur">
            </div>
            
            <div class="form-contactpagina__inputelement shrink">
                <input type="reset" value="Reset Forum">
            </div>


            @*<button class="g-recaptcha form-contactpagina__inputelement fx-col"
                data-sitekey="6LeZrIckAAAAAMrusyaNZzPhA34sm_iFbAWJefMx"
                data-callback='onSubmit'
                data-action='submit'>
                Verstuur
            </button>*@
            
        </form>


    </section>
</div>