/* BATTLESHIP */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer&display=swap');

.greatFell {
    font-family: 'IM Fell Great Primer', serif;
}
body {
    background: #16202c;
}
.gameRoomCode {
    align-items: center;
    align-self: center;
    font-size: 36px;
    display: none;
}

.playfield {
    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #16202c;
}

.visible {
    display: flex;
}

.messageArea {
    width: 100%;
    text-align: center;
    margin-top: 5px;
    color: #f4f8ff;
    font-family: "Fascinate Inline";
    font-size: 25px;
}

.battlefield {
    background: #0a1017;
}

table {
    border-collapse: collapse;
}

.defence {

    
}

.defence:hover{
    
}

.attack {}

.attack:hover {
    background-color: #538daa;
}

tr {
    display: flex;
}

td {
    position: relative;
    width: 7vh;
    height: 7vh;
    border: 2px solid #1d2fff;
    padding: 0%;
}

td:hover{
    background-color: white;
}

.button {
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
    background-color: #3e8e41;
}

@media only screen and (max-width:576px) {

    .playfield {
        flex-direction: column;
    }

    .attack {
        display: none;
    }
}