/* BATTLESHIP */

body {
    background: #16202c;
}

.lobby {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.lobbyBox {
    display: flex;
    justify-content: center;
}

@media only screen and (max-width:576px) {
    .playfield {
        flex-direction: column;
    }

    .attack {
        display: none;
    }
}
